/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 20, 2026, 2:55:00 PM
    Author     : admin
*/

.Contianer {
    -fx-back-ground-color: #FFFFFF;
    -fx-alignment: center;
    -fx-spacing: 15;
    -fx-padding: 10;
}

.subject {
    -fx-font-size: 35;
    -fx-font-weight: bold;
    -fx-stroke: gold;
    -fx-stroke-width: 3;
    -fx-fill: red;
}

.button {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #000000;
    -fx-padding: 10;
    -fx-pref-width: 250;
    -fx-font-size: 16;
}